{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WMJ69W7');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="{{ property.name }}">
    <meta name="description" content="{{ property.description }}">
    <meta name="image" content="{% static 'projects/img/abl.png' %}">
    <meta name="keywords"
        content="Ascent Buildhome Developers, property in jharsuguda, property in bhiwadi, property in jaipur, peroperty in shahpura, buy villa, buy flats, ascent buildhome developers ltd, ascent, ascentbuildhome, ascent buildhome, Ascent">
    <meta name="author" content="Ascent Buildhome Developers">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'projects/img/fav_32.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'projects/img/fav_32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'projects/img/fav_32.png' %}">
    <title>{{ project.name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&amp;display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'projects/plugins/bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'projects/plugins/owl-carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'projects/fonts/Linearicons/Linearicons/Font/demo-files/demo.css' %}">
    <link rel="stylesheet" href="{% static 'projects/fonts/LineIcons/Pro-Light/font-css/LinIconsPro-Light.css' %}">
    <link rel="stylesheet" href="{% static 'projects/fonts/LineIcons/Pro-Regular/font-css/LineIcons.css' %}">
    <link rel="stylesheet" href="{% static 'projects/plugins/leaflet/dist/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'projects/plugins/nouslider/nouislider.min.css' %}">
    <link rel="stylesheet" href="{% static 'projects/plugins/apexcharts-bundle/dist/apexcharts.css' %}">
    <link rel="stylesheet" href="{% static 'projects/css/style.css' %}">

    <style>
        iframe {
         border-radius : 10px;   
        }
        .overlay {
            opacity: 0.5;
            background: #000;
            width: 100%;
            height: 100%;
            z-index: 10;
            top: 0;
            left: 0;
            position: fixed;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
            transition: 0.3s;
            border-radius: 10px;
            text-align: center;
        }
    </style>
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMJ69W7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'projects/plugins/jquery.min.js' %}"></script>
    <script src="{% static 'projects/plugins/bootstrap4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'projects/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'projects/plugins/nouslider/nouislider.min.js' %}"></script>
    <script src="{% static 'projects/plugins/leaflet/dist/leaflet.js' %}"></script>
    <script src="{% static 'projects/plugins/apexcharts-bundle/dist/apexcharts.min.js' %}"></script>
    <script src="{% static 'projects/js/main.js' %}"></script>
    <script src="{% static 'projects/js/chart.js' %}"></script>
    <script src="{% static 'projects/js/map.js' %}"></script>
    <!-- <script src="http://www.jsdelivr.com/projects/lightgallery.js"></script> -->


    <header class="header header--desktop header--one" data-sticky="true">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__left">
                    <div class="header__logo"><a class="ps-logo light" href="/"><img
                                src="{% static 'projects/img/abl.png' %}" alt="" /></a><a class="ps-logo" href="/"><img
                                src="{% static 'projects/img/abl.png' %}" alt="" /></a>
                    </div>
                    <ul class="menu menu--desktop">
                        <li><a href="#about">About</a>
                        </li>

                        <li class="menu-item-has-children"><a>Properties</a><span class="sub-toggle"></span>
                            <ul class="sub-menu">

                                {% for project in projects %}
                                <li><a href="/project/{{ project.name }}"> {{ project.name }} </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>

                        <li><a href="#locations">Locations</a>
                        </li>

                        <li><a href="#contact">Contact</a>
                        </li>

                    </ul>
                </div>

                <div class="header__right">
                    <div class="header__actions">
                        <div class="header__submit-listing">
                            <div class="form_init ps-btn ps-btn--with-opacity brochure_form">Download Brochure
                                <i class="lnil lnil-arrow-top-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="header header--mobile" data-sticky="true">
        <div class="header__left">
            <div class="header__logo"><a class="ps-logo" href="/"><img src="{% static 'projects/img/abl.png' %}"
                        alt="" /></a>
            </div>
        </div>
        <div class="header__right">
            <div class="header__actions">
                <div class="header__submit-listing">
                    <div class="form_init ps-btn ps-btn--with-opacity brochure_form">Download Brochure
                        <i class="lnil lnil-arrow-top-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="ps-page--single-property">
        <div class="ps-page__header">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="properties.html">Projects</a></li>
                    <li>{{ project.name }}</li>
                </ul>
            </div>
        </div>
        <div class="ps-page__content">
            <div class="container">
                <div class="ps-section--single-project">
                    <div class="ps-section__left">
                        <div class="ps-project ps-project--detail">
                            <div class="ps-project__top">
                                <div class="ps-project__gallery">
                                    <div class="owl-slider ps-carousel" data-owl-auto="true" data-owl-loop="true"
                                        data-owl-speed="7500" data-owl-gap="0" data-owl-nav="true" data-owl-item="1"
                                        data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1"
                                        data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="false"
                                        id="carousel-project-gallery">

                                        {% for img in project.galleryimage_set.all %}
                                        <div class="ps-block--gallery-image">

                                            {% if img.video %}

                                            <video autoplay loop muted style="display: block;
                                            width: 100%;
                                            max-width: 100%;">
                                                <source src="/media/{{ img.video }}" type="video/mp4" />
                                            </video>

                                            {% else %}
                                            <img src="/media/{{ img.image }}" alt="">
                                            {% endif%}

                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="ps-project__header">
                                    <div class="ps-project__header-left">
                                        {% if project.alert %}
                                        <p class="offer-alert"> <i class="lnil lnil-offer"></i> {{ project.alert }}</p>
                                        {% endif %}

                                        <h1 class="ps-project__name">{{ project.name }}</h1>
                                        <p class="ps-project__address">{{ project.address }}</p>
                                        
                                        <p class="ps-project__price"> Starting from : <strong>
                                                {{project.starting_price}}
                                            </strong></p>
                                    </div>
                                    <div class="ps-project__header-right" style="margin-top: 20px;">
                                        <div class="ps-project__actions">
                                            <a class="msg_init mobile_init" href="tel:{{ Base.mobile }}"
                                                style="width: auto;padding: 10px;">
                                                <i class="lnil lnil-phone"></i>
                                                <p style="margin: 5px;" onMouseOver="this.style.color='#FFFFFF'"
                                                    onMouseOut="this.style.color='#000000'">
                                                    {{ Base.mobile }}</p>
                                            </a>

                                            <a class="msg_init wa_init" style="width: auto;padding: 10px;"
                                                href="https://wa.me/{{ Base.whatsapp }}/?text=Hi! , I am Interested"><i
                                                    class="lnil lnil-bubble"></i>
                                                <p style="margin: 5px;white-space: nowrap;"
                                                    onMouseOver="this.style.color='#FFFFFF'"
                                                    onMouseOut="this.style.color='#000000'">
                                                    Whatsapp</p>
                                            </a>


                                        </div>
                                    </div>
                                </div>
                                <div class="ps-project__information">
                                    <div class="ps-project__meta">
                                        <figure>
                                            <figcaption>Status</figcaption>
                                            <p>{{ project.status }}</p>
                                        </figure>
                                        <figure>
                                            <figcaption>Handover In</figcaption>
                                            <p>{{ project.duration }}</p>
                                        </figure>
                                        <figure>
                                            <figcaption>Type</figcaption>
                                            <p>{{ project.project_type }}</p>
                                        </figure>
                                        <figure>
                                            <figcaption>Open Area</figcaption>
                                            <p>{{ project.open_area }}</p>
                                        </figure>
                                        <figure>
                                            <figcaption>Total Units</figcaption>
                                            <p>{{ project.total_units }}</p>
                                        </figure>

                                        {% if project.rera %}
                                        <figure>
                                            <figcaption>Rera Registration no.</figcaption>
                                            <p>{{ project.rera }}</p>
                                        </figure>
                                        {% endif %}

                                    </div>




                                    <div class="ps-project__block" style="margin-bottom: 60px;
                                                                background: aliceblue;
                                                        border-radius : 15px;
                                                        margin-bottom: 60px;
                                                        padding-bottom: 50px;
                                                                padding-top: 50px;
                                                                padding-left: 10px;
                                                                padding-right: 10px;
                                                                margin-left: -15px;
                                                                margin-right: -15px;
                                                                ">
                                        <div class="ps-project__heading" style="padding:15px;margin-bottom: 0px;">
                                        
                                        <div style="    
                                                    padding: 10px;
                                                    background-color: white;
                                                    width: 200px;
                                                    border-radius: 20px;
                                                    text-align: center;"><h3 style="margin-bottom: 0px;"> Floor Plans </h3></div>
                                        
                                        </div>
                                        <div class="ps-block--floor-plan" style="padding:5px;">

                                            {% if 'Airport' in request.path or  'test' in request.path %}

                                                {% for plan_type in project.floorplantype_set.all %}
                                                    
                                                    <div>{{ plan_type.yt_link| safe }}</div>

                                                    <div style="margin:20px;">
                                                    <h4> {{ plan_type.title }} </h4></div>


                                                {% for plan in plan_type.floorplan_set.all %}
                                                    <div class="ps-accordion ps-accordion--floor-plan"
                                                        style="background:white;">
                                                        <div class="ps-accordion__header">
                                                            <div class="ps-accordion__header-wrapper">
                                                                <p><strong>{{ plan.title }}</strong></p>
                                                                <p class="ps-accordion__params"
                                                                    style="grid-template-columns: 1fr !important;">

                                                                    {% if plan.sold_out %}
                                                                    <span>
                                                                        <strong style="color:red;"> SOLD OUT </strong></span>
                                                                </p>

                                                                {% else %}
                                                                <span>
                                                                    <strong>Size</strong>: {{ plan.size }}</span> </p>

                                                                {% endif %}
                                                            </div>


                                                            <p class="form_init brochure_form" style="padding: 10px;">View</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}


                                                <hr style="margin: 20px;" />


                                                {% endfor%}

                                            {% else %}

                                            {% for plan in project.floorplan_set.all %}
                                            <div class="ps-accordion ps-accordion--floor-plan"
                                                style="background:white;">
                                                <div class="ps-accordion__header">
                                                    <div class="ps-accordion__header-wrapper">
                                                        <p><strong>{{ plan.title }}</strong></p>
                                                        <p class="ps-accordion__params"
                                                            style="grid-template-columns: 1fr !important;">

                                                            {% if plan.sold_out %}
                                                            <span>
                                                                <strong style="color:red;"> SOLD OUT </strong></span>
                                                        </p>

                                                        {% else %}
                                                        <span>
                                                            <strong>Size</strong>: {{ plan.size }}</span> </p>

                                                        {% endif %}
                                                    </div>


                                                    <p class="form_init brochure_form" style="padding: 10px;">View</p>
                                                </div>
                                            </div>

                                            {% endfor %}

                                            {% endif %}
                                        </div>
                                    </div>


                                </div>
                            </div>


                            <div class="ps-block--project-reviews card" style="    margin-bottom: 30px;
                            text-align: left;
                            padding: 20px;
                            margin-top: -30px;">

                                <div class="ps-block__middle">
                                    <div class="ps-block--agent-review"
                                        style="border-bottom: none;grid-template-columns: 95px 1fr !important;">
                                        <div class="ps-block__left"><img style="border-radius: 15px;"
                                                src="/media/{{ review.cus_img }}" alt=""></div>
                                        <div class="ps-block__right">
                                            <div class="ps-block__header">
                                                <h4>{{ review.head }}</h4>
                                                <div class="ps-block__rating"><span class="ps-rating"><i
                                                            class="lnil lnil-star-fill active"></i><i
                                                            class="lnil lnil-star-fill active"></i><i
                                                            class="lnil lnil-star-fill active"></i><i
                                                            class="lnil lnil-star-fill active"></i><i
                                                            class="lnil lnil-star-fill active"></i></span>
                                                </div>
                                            </div>
                                            <div class="ps-block__content">
                                                <p>{{ review.body }}</p>
                                            </div>
                                            <div class="ps-block__bottom">
                                                <p><strong> {{ review.cus_name }} </strong>
                                                    <br> {{ review.cus_designation }}
                                                    <br> Purchased {{ review.cus_prod }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>



                            <div class="ps-project__content">

                                <div class="ps-project__block ps-project__desc">
                                    <div class="ps-project__heading">Description</div>
                                    {{ project.description | safe }}
                                </div>

                                <div class="ps-project__block">
                                    <div class="ps-project__nearby">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <div class="ps-block--project-nearby">
                                                    <div class="ps-block__top">
                                                        <p class="ps-block__heading"><i
                                                                class="lnil lnil-pin-alt"></i>The Ultimate Prime
                                                            Location</p>
                                                    </div>
                                                    <div class="ps-block__bottom">

                                                        {% for n in project.nearbyplaces_set.all %}
                                                        <div class="ps-block__item">
                                                            <div class="ps-block__item-left">
                                                                <p>{{ n.place|safe }}</p>
                                                            </div>
                                                            <div class="ps-block__item-right">
                                                                <p> {{ n.distance }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        {% endfor %}


                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        {% if 'Airport' in request.path or  'test' in request.path %}

                                        <div style="display: grid;
                                            grid-template-columns: repeat(2, 1fr);
                                            grid-template-rows: repeat(3, 1fr);
                                            grid-column-gap: 10px;">

                                            <div class="mapouter" style="  grid-area: 1 / 1 / 3 / 3; ">
                                                <div class="gmap_canvas">
                                                    <iframe width="100%" height="300" id="gmap_canvas"
                                                        src="https://maps.google.com/maps?q=airport%20enclave%20jharsuguda&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                                    </iframe>
                                                    <style>
                                                        .gmap_canvas {
                                                            overflow: hidden;
                                                            background: none !important;
                                                        }
                                                    </style>
                                                </div>
                                            </div>


                                            <div style="grid-area: 3 / 1 / 4 / 2;"><iframe
                                                    src="https://www.youtube.com/embed/tLiKThJH53s"
                                                    title="Airport Enclave , Jharsuguda | Location | Ascent Buildhome Developers Ltd"
                                                    frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>

                                            </div>


                                            <div style="grid-area: 3 / 2 / 4 / 3;"><iframe
                                                    src="https://www.youtube.com/embed/JoXIpCiv98U"
                                                    title="Airport Enclave , Jharsuguda | Location | Ascent Buildhome Developers Ltd"
                                                    frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                    allowfullscreen></iframe>


                                            </div>

                                        </div>

                                        {% endif %}

                                    </div>
                                </div>


                                <div class="ps-project__block">
                                    <div class="ps-project__heading">Amenities</div>
                                    <div class="ps-project__amenities">
                                        {% for amenity in amenities %}
                                        <a>{{ amenity.amenity }}</a>
                                        {% endfor %}
                                    </div>
                                </div>



                            </div>
                            <div class="ps-project__review"></div>
                        </div>
                    </div>
                    <div class="ps-section__right">
                        <aside class="ps-widget ps-widget--project">
                            <h4 class="ps-widget__heading">Book Site Visit</h4>
                            <div class="ps-widget__content">
                                <form class="ps-form--agent-contact" method="post">
                                    {% csrf_token %}

                                    <div class="ps-form__content">
                                        <div class="form-group">
                                            <div class="ps-form underline">
                                                {{ form.name }}
                                                <label>Your name <span class="required">*</span></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ps-form underline">
                                                {{ form.phone }}
                                                <label>Your Phone Number <span class="required">*</span></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ps-form underline">
                                                {{ form.email }}
                                                <label>Your Email <span class="required">*</span></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ps-form text-area underline">
                                                {{ form.msg }}
                                                <label>Your message</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="ps-checkbox">
                                                <input class="form-control" type="checkbox" id="agree-term" name="agree"
                                                    checked="checked" />
                                                <label for="agree-term">By submitting this form I agree to <a
                                                        href="#">Terms of Use</a></label>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="ps-form__bottom">
                                        <button class="form_init ps-btn">Submit</button><a class="ps-btn ps-btn--gray"
                                            href="https://wa.me/{{ Base.whatsapp }}/?text=I am Interested">Whatsapp</a>
                                    </div>
                                </form>
                            </div>
                        </aside>
                    </div>

                </div>

                {% include 'projects/comp/listings.html' %}

            </div>
        </div>
    </div>

    {% include 'projects/comp/footer.html' %}

    <div class="ps-drawer" id="drawer-menu">
        <div class="ps-drawer__top">
            <div class="ps-drawer__heading">Menu</div><a class="ps-drawer__close" href="#"><i
                    class="icon-cross"></i></a>
        </div>
        <div class="ps-drawer__bottom">
            <ul class="menu--mobile">

                <li><a href="/">Home</a>
                </li>

                <li><a href="/#about">About</a>
                </li>

                <li class="menu-item-has-children"> <a> Properties </a> <span class="sub-toggle"></span>
                    <ul class="sub-menu">

                        {% for project in projects %}
                        <li><a href="/project/{{ project.name }}"> {{ project.name }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>

                <li><a href="/#locations">Locations</a>
                </li>

                <li><a href="/#contact">Contact</a>
                </li>
            </ul>
        </div>

    </div>

    <div id="back2top"><i class="lnil lnil-arrow-up"></i></div>

    <div class="ps-site-overlay"></div>

    {% if project.tour %}
    <a target="_blank" href="/tour" style="position: fixed; bottom: 20px; right: 20px; z-index:100;">
        <img src="/media/{{ project.tour }}" style="width: 200px;" />
    </a>

    {% else %}

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/62d257317b967b117999ca92/1g82q97dm';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    {% endif %}



    <script>

        function form_init() {
            Swal.fire({
                title: 'Let\'s Connect',
                html: `<form id="b_form" method="post"> {% csrf_token %} <label for="id_name">Name:</label> {{ b_form.name }} <br> <label for="id_phone">Phone:</label> {{ b_form.phone }} <br> <label for="id_email">Email:</label> {{ b_form.email }} <br> <label for="id_interested_in">Interested In:</label> {{ b_form.interested_in}} </form>`,
                confirmButtonText: 'Download Brochure',
                focusConfirm: false,
                allowOutsideClick: false,
                showCloseButton: true,
                preConfirm: () => {
                    $(".swal2-input").slice(0, -1).each(function (idx, el) {
                        if (!el.value) {
                            Swal.showValidationMessage(
                                `Please fill details`
                            )
                        }
                    })

                    return 1

                }
            }).then((result) => {
                if (result.isConfirmed) {
                    var win = window.open('/media/{{ project.brochure }}', '_blank');
                    if (win) {
                        //Browser has allowed it to be opened
                        win.focus();
                    } else {
                        //Browser has blocked it
                        alert('Please allow popups for this website');
                    }

                    $("#b_form").submit();

                }

            });

        };

        {% if request.session.submitted_form %}

        $(".brochure_form").click(function () {

            Swal.fire({
                icon: 'success',
                title: 'Submitted',
                text: 'Our team will contact you soon !',
                confirmButtonText: 'Download Brochure',
            }).then((result) => {

                if (result.isConfirmed) {
                    var win = window.open('/media/{{ project.brochure }}', '_blank');
                    if (win) {
                        //Browser has allowed it to be opened
                        win.focus();
                    } else {
                        //Browser has blocked it
                        alert('Please allow popups for this website');
                    }
                }

            });


        });

        {% else %}

        //  window.onload = form_init;

        $(".brochure_form").click(form_init);

        {% endif %}

    </script>



</body>


</html>